@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Fredoka:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-image: url("./render.jpg");
    @apply bg-cover bg-no-repeat;
  }
}
